* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 2rem;
}

header {
  display: flex;
  margin-bottom: 4rem;
}

header a {
  flex-grow: 1;
}

.high-score {
  text-decoration: none;
}

.container {
  max-width: 750px;
  margin: 0 auto;
}

.page {
  text-align: center;
}

.start-text {
  padding: 1rem;
}

.question-text {
  margin-top: 8rem;
  font-size: 2rem;
}

.answers {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 4rem;
}

.hide {
  display: none;
}

.button {
  background-color: #4b0082;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 0.3rem 2rem;
  cursor: pointer;
  text-align: left;
  margin: 3px;
}

.button:hover {
  background-color: #da70d6;
}

.start-button {
  font-size: 1.5rem;
}
